In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score

In [3]:
df=pd.read_csv("regression_project_data.csv")

In [4]:
df.head()

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           17954 non-null  object
 1   full_name                      17954 non-null  object
 2   birth_date                     17954 non-null  object
 3   age                            17954 non-null  int64
 4   height_cm                      17954 non-null  float64
 5   weight_kgs                     17954 non-null  float64
 6   positions                      17954 non-null  object
 7   nationality                    17954 non-null  object
 8   overall_rating                 17954 non-null  int64
 9   potential                      17954 non-null  int64
 10  value_euro                     17699 non-null  float64
 11  wage_euro                      17708 non-null  float64
 12  preferred_foot                 17954 non-null  object
 13  international_reputation(1-5)  17954 non-null  int64
 14  weak_foot(1-5)                 17954 non-null  int64
 15  skill_moves(1-5)               17954 non-null  int64
 16  body_type                      17954 non-null  object
 17  release_clause_euro            16117 non-null  float64
 18  national_team                  857 non-null    object
 19  national_rating                857 non-null    float64
 20  national_team_position         857 non-null    object
 21  national_jersey_number         857 non-null    float64
 22  crossing                       17954 non-null  int64
 23  finishing                      17954 non-null  int64
 24  heading_accuracy               17954 non-null  int64
 25  short_passing                  17954 non-null  int64
 26  volleys                        17954 non-null  int64
 27  dribbling                      17954 non-null  int64
 28  curve                          17954 non-null  int64
 29  freekick_accuracy              17954 non-null  int64
 30  long_passing                   17954 non-null  int64
 31  ball_control                   17954 non-null  int64
 32  acceleration                   17954 non-null  int64
 33  sprint_speed                   17954 non-null  int64
 34  agility                        17954 non-null  int64
 35  reactions                      17954 non-null  int64
 36  balance                        17954 non-null  int64
 37  shot_power                     17954 non-null  int64
 38  jumping                        17954 non-null  int64
 39  stamina                        17954 non-null  int64
 40  strength                       17954 non-null  int64
 41  long_shots                     17954 non-null  int64
 42  aggression                     17954 non-null  int64
 43  interceptions                  17954 non-null  int64
 44  positioning                    17954 non-null  int64
 45  vision                         17954 non-null  int64
 46  penalties                      17954 non-null  int64
 47  composure                      17954 non-null  int64
 48  marking                        17954 non-null  int64
 49  standing_tackle                17954 non-null  int64
 50  sliding_tackle                 17954 non-null  int64
dtypes: float64(7), int64(35), object(9)
memory usage: 7.0+ MB

In [6]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17949    False
17950    False
17951    False
17952    False
17953    False
Length: 17954, dtype: bool

In [7]:
df['national_team'].value_counts()

Scotland                    23
Brazil                      23
France                      23
Netherlands                 23
Germany                     23
                            ..
FC Admira Wacker Mödling     1
Central Coast Mariners       1
Club Atlético Talleres       1
Urawa Red Diamonds           1
Perth Glory                  1
Name: national_team, Length: 103, dtype: int64

In [8]:
df.isnull().sum()

name                                 0
full_name                            0
birth_date                           0
age                                  0
height_cm                            0
weight_kgs                           0
positions                            0
nationality                          0
overall_rating                       0
potential                            0
value_euro                         255
wage_euro                          246
preferred_foot                       0
international_reputation(1-5)        0
weak_foot(1-5)                       0
skill_moves(1-5)                     0
body_type                            0
release_clause_euro               1837
national_team                    17097
national_rating                  17097
national_team_position           17097
national_jersey_number           17097
crossing                             0
finishing                            0
heading_accuracy                     0
short_passing                        0
volleys                              0
dribbling                            0
curve                                0
freekick_accuracy                    0
long_passing                         0
ball_control                         0
acceleration                         0
sprint_speed                         0
agility                              0
reactions                            0
balance                              0
shot_power                           0
jumping                              0
stamina                              0
strength                             0
long_shots                           0
aggression                           0
interceptions                        0
positioning                          0
vision                               0
penalties                            0
composure                            0
marking                              0
standing_tackle                      0
sliding_tackle                       0
dtype: int64

In [9]:
df.drop(columns=['full_name','birth_date','nationality','value_euro','wage_euro','preferred_foot','release_clause_euro','national_team','national_rating','national_team_position','national_jersey_number'],axis=1,inplace=True)

In [10]:
df.head()

,name,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,31,170.18,72.1,"CF,RW,ST",94,94,5,4,4,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,27,154.94,76.2,"CAM,RM,CM",88,89,3,5,4,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,25,190.50,83.9,"CM,CAM",88,91,4,4,5,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,27,162.56,59.0,"LW,ST",88,88,3,4,4,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,27,187.96,88.9,CB,88,91,3,3,2,...,15,87,88,24,49,33,80,91,88,87

In [11]:
df.isnull().sum()

name                             0
age                              0
height_cm                        0
weight_kgs                       0
positions                        0
overall_rating                   0
potential                        0
international_reputation(1-5)    0
weak_foot(1-5)                   0
skill_moves(1-5)                 0
body_type                        0
crossing                         0
finishing                        0
heading_accuracy                 0
short_passing                    0
volleys                          0
dribbling                        0
curve                            0
freekick_accuracy                0
long_passing                     0
ball_control                     0
acceleration                     0
sprint_speed                     0
agility                          0
reactions                        0
balance                          0
shot_power                       0
jumping                          0
stamina                          0
strength                         0
long_shots                       0
aggression                       0
interceptions                    0
positioning                      0
vision                           0
penalties                        0
composure                        0
marking                          0
standing_tackle                  0
sliding_tackle                   0
dtype: int64

In [12]:
encoder=OrdinalEncoder()

In [13]:
df['name']=encoder.fit_transform(df)

In [14]:
df['positions']=encoder.fit_transform(df)

In [15]:
df['body_type']=encoder.fit_transform(df)

In [16]:
df.head()

,name,age,height_cm,weight_kgs,positions,overall_rating,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,9536.0,31,170.18,72.1,9536.0,94,94,5,4,4,...,94,48,22,94,94,75,96,33,28,26
1,2446.0,27,154.94,76.2,2446.0,88,89,3,5,4,...,89,46,56,84,91,67,88,59,57,22
2,13031.0,25,190.50,83.9,13031.0,88,91,4,4,5,...,82,78,64,82,88,82,87,63,67,67
3,9421.0,27,162.56,59.0,9421.0,88,88,3,4,4,...,84,34,26,83,87,61,83,51,24,22
4,8675.0,27,187.96,88.9,8675.0,88,91,3,3,2,...,15,87,88,24,49,33,80,91,88,87

In [17]:
x=df.drop(['overall_rating'],axis=1)
y=df['overall_rating']

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,shuffle=True,random_state=42)

In [19]:
x_train.head()

,name,age,height_cm,weight_kgs,positions,potential,international_reputation(1-5),weak_foot(1-5),skill_moves(1-5),body_type,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
15907,41.0,36,19.0,16.0,11451.0,73,2,4,1,11451.0,...,11,41,26,12,40,23,59,9,15,14
1320,29.0,33,16.0,10.0,1673.0,70,1,4,3,1673.0,...,52,90,42,70,69,67,69,28,15,12
316,36.0,36,19.0,1.0,12900.0,77,2,3,2,12900.0,...,54,79,77,48,39,55,76,78,77,76
10437,15.0,22,5.0,4.0,9386.0,76,1,3,3,9386.0,...,60,45,57,66,59,48,58,60,56,44
15245,22.0,23,6.0,10.0,1536.0,80,1,3,3,1536.0,...,55,55,47,64,67,54,68,45,47,50

In [20]:
models={
    'LinearRegression': LinearRegression(),
    'KNeighborsRegressor': KNeighborsRegressor(),
    'SVR': SVR(),
    'RandomForestRegressor': RandomForestRegressor(),
    'DecisionTreeRegressor': DecisionTreeRegressor(),
    'AdaBoostRegressor': AdaBoostRegressor(),
    'XGBRegressor': XGBRegressor()
}

In [21]:
#evaluate model
def evaluate_model(actual,predicted):
    score=r2_score(actual,predicted)
    score_1=mean_squared_error(actual,predicted)
    score_2=mean_absolute_error(actual,predicted)
    score_3=np.sqrt(mean_squared_error(actual,predicted))
    return score,score_1,score_2,score_3

In [22]:
models_list=[]
test_scores=[]
train_scores=[]
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)
    test_pred=model.predict(x_test)
    train_pred=model.predict(x_train) 
    test_score=evaluate_model(y_test,test_pred)
    train_score=evaluate_model(y_train,train_pred)
    
    print(list(models.keys())[i])
    models_list.append(list(models.keys())[i])
    
    print('Model Trainig Performance :')
    print("R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error = ",train_score)
    
    print('Model Testing Performance :')
    print("R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  = ",test_score)
    
    test_scores.append(test_score)
    train_scores.append(train_score)

LinearRegression
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.9089187931466522, 4.38258174670827, 1.632597674216512, 2.093461665927578)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.9158622486654545, 4.204957953981368, 1.5956587062512408, 2.0505994133378094)
KNeighborsRegressor
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.7635605782419999, 11.376826568265681, 2.5471558866532065, 3.372955168434007)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.6354591919655443, 18.218680033416877, 3.21526037315511, 4.268334573743824)
SVR
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.031085377195673614, 46.6215554967132, 5.39620699780643, 6.827997912764268)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.029564797170065882, 48.499504208734564, 5.456045800516751, 6.964158542762691)
RandomForestRegressor
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.9961568252611096, 0.18492319153380216, 0.2858330432360929, 0.4300269660542257)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.9733641318818298, 1.3311825396825396, 0.7856613756613757, 1.1537688415287266)
DecisionTreeRegressor
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (1.0, 0.0, 0.0, 0.0)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.9266162986353821, 3.6675020885547203, 1.2531328320802004, 1.9150723455145815)
AdaBoostRegressor
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.9037734123109598, 4.630163579551972, 1.7868580181697602, 2.1517814897316994)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.9095737503689576, 4.519238648568887, 1.7596491118963669, 2.125850100211416)
XGBRegressor
Model Trainig Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error =  (0.9937771995377683, 0.29942435614731944, 0.40240082491459245, 0.5471968166458202)
Model Testing Performance :
R2_score,Mean_absolute_error,Mean_squared_error,Root_mean_squared_error  =  (0.9767893805756875, 1.159998659543735, 0.7774440454128757, 1.0770323391355225)